{
  "root": true,
  "extends": [
    "@react-native-community",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react", "react-native"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "error",
    "react-native/no-inline-styles": "error",
    "react-native/no-color-literals": "error",
    "react-native/no-raw-text": ["error", {
      "skip": ["Button"]
    }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "coverage/",
    "*.config.js",
    "jest.setup.js",
    "__mocks__/**/*"
  ]
}
